.board {
  background-color: rgb(249 223 191);
}

.white-board {
  box-sizing: content-box;
}

.boardpage-img-box{
  height: 300px;
}

.boardpage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}