.comment-container {
  position: relative;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  white-space: pre-wrap; /* 엔터키 줄바꿈 유지 */
}

.comment-nickname {
  margin-bottom: 0%;
  font-size: smaller;
}

.comment-created-at {
  font-size: x-small;
}

.comment-text {
  font-size: small;
}

.menu {
  position: absolute;
  top: 0;
  right: 0px;
}

.comment-container .button-group button {
  margin-left: 10px;
}

.comment-edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-edit-container button {
  margin-left: 10px;
}

.comment-edit-container textarea {
  flex: 1; /* textarea의 크기를 최대로 고정해서 옆의 버튼이 커지지 않게 조정 */
  resize: none;
  overflow: hidden;
}