.navbar {
  padding: 20px 10px 20px 0px;
  background-color: rgb(249 223 191);
  transition: all ease 0.4s;
}

.navbar-brand {
  font-size: 22px;
  color: black !important;
}

.navbar .nav-link {
  font-size: 16px;
  color: #777777;
}

.animate {
  padding: 20px 0 !important;
  transition: padding 0.5s ease-in-out;
}