.Logo {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  display: block;
}

.navbar {
  background-color: rgb(249 223 191);
}

.navbar-brand {
  font-size: 22px;
  color: black !important;
}

@media (max-width: 600px) {
  .nav-btn {
    display: none;
  }
}